@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Modern Dot Pattern Background */
.bg-grid-pattern {
    background-color: #ffffff;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 24px 24px;
}

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}
